* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
}

/* Header */
.topbar {
  height: 60px;
  background: white;
  border-bottom: 1px solid #d0d5dd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.topbar h1 {
  font-size: 1.4rem;
  margin: 0;
}

/* MAIN */
main {
  display: flex;
  width: 100%;
  height: calc(100vh - 120px); /* 60px header + 60px footer */
}

/* MAP */
#map {
  width: 200em;
  height: 100%;
  position: relative;
}

/* Footer */
.bottombar {
  height: 60px;
  background: white;
  border-top: 1px solid #d0d5dd;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
}

.bottombar h1 {
  font-size: 1.4rem;
  margin: 0;
}

.legend {
  display: flex;
  align-items: center;
  gap: 20px;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 1rem;
}

p{
  margin: 0;
  margin-bottom: 0px;
}

legend-item.name {
  font-weight: bold;
  margin : 0px;
}

.dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  display: inline-block;
}

/* Couleurs marqueurs Leaflet */
.dot.red {
  background: #ff4d4d;
}

.dot.green {
  background: #4dff4d;
}

.dot.yellow {
  background: #ffe44d;
}

.dot.cyan {
  background: #4ddaff;
}

.select-btn,
.form-select.select-btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-flex;
  align-items: center;
  width: auto;
  min-width: 170px;
  max-width: 100%;
  box-sizing: border-box;
  padding: .375rem 2.1rem .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #fff;
  background-color: #6c757d; /* bootstrap secondary */
  border: 1px solid #6c757d;
  border-radius: .375rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 5'%3E%3Cpath fill='%23ffffff' d='M0 0l4 5 4-5Z'/%3E%3C/svg%3E");
  background-position: right 1rem center;
  background-size: .75rem .5rem;
  background-repeat: no-repeat;
  cursor: pointer;
}

.select-btn::-ms-expand,
.form-select.select-btn::-ms-expand {
  display: none;
}

.form-select.select-btn option {
  color: #000;
}

.form-select.select-btn:focus {
  outline: none;
  box-shadow: 0 0 0 .25rem rgba(108,117,125,.25);
  border-color: #5a6268;
}
